<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">

    <h2>Enter your OTP to verify your account</h2>
    <br/>

    <%= form_with url: authenticate_path, local: true do |f| %>
      <%= hidden_field_tag :email, @magic_link.email %>
      <div class="field">
        <%= f.label :otp_token, 'OTP' %><br />
        <%= f.text_field :otp_token, autofocus: true, class: 'form-control' %>
      </div>
      <br/>

      <div class="actions">
        <%= f.submit "Verify", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to "Back Home", main_app.root_path %>
  </div>
  <div class="col-sm-3"></div>
</div>
